#  Database Configuration
DB_USER=your_username
DB_PASSWORD=your_password
DB_HOST=localhost
DB_NAME=your_dbname
DB_CREATE_ALL_TABLE=true

# JWT Configuration
JWT_SECRET_KEY="your_secret_key"
JWT_ALGORITHM="HS256"
JWT_ACCESS_TOKEN_EXPIRE_DAYS=1
